<div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Chore Chart Web App&nbsp;&nbsp;&nbsp;</h1>
        <span class="menu-spacer"></span>
        <div mat-ripple>
            <a mat-raised-button  [routerLink]="'homepage'" color = "accent"> Homepage </a>
        </div>
        <div> &nbsp; </div>
        <div>
            <a mat-raised-button [routerLink]="'chore'" color = "accent"> Chores</a>
        </div>
        <div> &nbsp; </div>
        <div>
            <a mat-raised-button [routerLink]="'rules'" color = "accent"> Rules</a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">A simple web app made to keep track of daily chores</span>
    </mat-toolbar-row>
</mat-toolbar>
</div>

<router-outlet></router-outlet>