<div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Chore Chart Web App&nbsp;&nbsp;&nbsp;</h1>
        <span class="menu-spacer"></span>
        <div mat-ripple>
            <a mat-raised-button  [routerLink]="'homepage'" color = "accent"> Homepage </a>
        </div>
        <div> &nbsp; </div>
        <div>
            <a mat-raised-button [routerLink]="'chore'" color = "accent"> Chores</a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">A simple web app made to keep track of daily chores</span>
    </mat-toolbar-row>
</mat-toolbar>
</div>

<router-outlet></router-outlet>



<!--<div class="container">
    <h3 class="d-flex justify-content-center">Task Chart WebApp </h3>
    <h5 class="d-flex justify-content-center">Using Asp.Net for the backend</h5>
        <h5 class="d-flex justify-content-center">Using Angular for the frontend</h5>
<router-outlet></router-outlet>

</div>-->