<div class="container">
    <h3 class="d-flex justify-content-center">Task Chart WebApp </h3>
    <h5 class="d-flex justify-content-center">Using Asp.Net for the backend</h5>
        <h5 class="d-flex justify-content-center">Using Angular for the frontend</h5>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="chore"
            class="m-1 btn btn-light btn-outline-primary" Button>Chores</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>